i# for Mac OS X System Files
.DS_Store
Thumbs.db

# for Eclipse
*.project

# remove SVN
.svn

# for IDEA
*/build/*
.idea/*
*.iml
/out/*
target/
.idea
*/target
*/*.iml
*.iml

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
