html { font-family:'Source Code Pro',Menlo, Monaco, 'Courier New', Courier, monospace; }
dd{ font-size:.9em;}
dd pre{font-size: 1.2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
dd pre ol{ margin:0;padding:0;line-height: 1em;}
:root{
    --word_color:#ccc;
}
#toggle_but{ position:fixed; right: 11px; bottom:20%;
     line-height: 33pt; }
/****/
.text_red{ color:red;}
.text_brown{ color: brown !important;}
.text_green{ color: green !important;
  border: 1px solid green; 
  /* font-size: 2.5em; */
 }
.textarea_color{ color:green !important; }

dd span {border: 1px solid transparent;display: inline-flex; }
/****/
dt{margin-top:.5em; background:var(--word_color);}
dt img,dd img{ max-width: 33em;}
pre{ background:white; margin:3px;
	white-space: pre-wrap;
  word-wrap: break-word;}

/**** 以下是要删的样式 **** /
/** 软件工程 **/
.tiankongti dt span{ color: var(--word_color);}
.mingcijieshi dd{ color: white;}
.jiandati dd{ color:white;}