html { font-family:'Consolas','Courier New', Courier, monospace;}
dd{ font-size:.9em;}
dd span{ color:red;}
dt span{ color:brown; }
dt{margin-top:.5em; background:#ccc;}
dt img,dd img{ width: 11cm;}
pre{color:white; margin:3px;}